.calculateCosts {
	font-size: 1.3em;
	min-width: 100px;
	width: fit-content;
	margin: auto;
	margin-top: 23px;
	text-align: right;
}

.cost {
	font-size: 1.2em;
	font-weight: 500;
	margin-top: 30px;
}

.subtotal {
	font-size: 1.2em;
	font-weight: 800;
	margin-top: 17px;
}